<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil_animal APANIM</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="central">
        <h2>Nome do animal</h2>

        <div class="perfil_animal">
            <img src="../../assets/images/editar.svg"/>
        </div>

        <div class="informacoes_usuario">
            <span id="nome">Nome: </span>
            <span id="raca">Raça: </span>
            <span id="porte">Porte: </span>
            <span id="sexo">Sexo: </span>
            <span id="especie">Espécie: </span>
            <span id="bairro">Bairro: </span>
            <span id="cor">Cor: </span>
            <span id="castrado">Castrado: </span>
            <textarea placeholder="Escreva um pouco sobre o animal..."></textarea>
            <button class="botao_editar">Salvar alterações</button>
        </div>

        <div class="responsavel">
            <img src="../../assets/images/dog_and_cat.svg"/>
            <span>Responsável pelo pet</span>
            <input type="text" placeholder="Nome: "/>
            <input type="text" placeholder="Telefone: "/>
        </div>

        <div class="base">
            <div class="redes_sociais">
                <img src="../../assets/images/instagram.svg"/>
                <img src="../../assets/images/email.svg"/>
            </div>

            <div>
                <span>Adote</span>
                <span>Seja responsável</span>
                <span>Pesquisar por pets</span>
            </div>

            <div>
                <span>Colabore</span>
                <span>Seja uma empresa parceira</span>
            </div>

            <div>
                <span>Divulgue um animal</span>
                <span>Cadastrar animal</span>
            </div>

            <div>
                <span>Sobre o APANIM</span>
                <span>APANIM</span>
            </div>

            <div>
                <span>Meu perfil</span>
                <span>Cadastrar-se</span>
                <span>Minha página de usuário</span>
            </div>

            <div class="forum">
                <img src="../../assets/images/forum.svg"/>
            </div>

            <div class="logo">
                <img src="../../assets/images/APANIM_logo.svg"/>
            </div>
        </div>
    </div>   
</body>
</html>