<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Inicial - APANIM</title>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>

    <div class="topo">
        <img src="../../assets/images/Paws.svg" class="patas_topo">
        <img src="../../assets/images/APANIM_logo.svg" id="logo_apanim">
        <img src="../../assets/images/cat.svg" class="cat_topo">
        <img src="../../assets/images/dog.svg" class="dog_topo">
    </div>

    <nav role="navigation">
        <div id="menu_sanduiche">
            <input type="checkbox" id="menu_toggle">
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <li><a href="../Menu/index.html">Menu Inicial</a>
                 <li><a href="../CadastroInicial/index.html">Cadastro</a></li>
                    <li><a href="../CadastroUsuario/index.html">Login</a></li>
                    <li><a href="../PerfilUsuario/index.html">Meu Perfil</a></li>
                    <li><a href="../AdocaoAnimal/index.html">Animais para Adoção</a></li>
                    <li><a href="../CompraAnimal/index.html">Animais para Compra</a></li>
                    <li><a href="..//AnimaisPerdidos/index.html">Animais Perdidos</a></li>
                    <li><a href="../CadastroAnimalAdocao/index.html">Cadastro Animal para Adoção</a></li>
                    <li><a href="../CadastroAnimalVenda/index.html">Cadastro Animal para Venda</a></li>
                    <li><a href="../CadastroAnimaisPerdidos/index.html">Cadastro Animal Perdido</a></li>
                    <li><a href="">Serviços</a></li>
            </ul>
        </div>
    </nav>


    <div class="central">
        <div class="patas1">
            <img src="../../assets/images/pata.svg" alt="pata" />
        </div>
        <div class="patas2">
            <img src="../../assets/images/pata.svg" alt="pata" />
        </div>
        <div class="patas3">
            <img src="../../assets/images/pata.svg" alt="pata" />
        </div>
        <div class="patas4">
            <img src="../../assets/images/pata.svg" alt="pata" />
        </div>
        <div class="patas5">
            <img src="../../assets/images/pata.svg" alt="pata" />
        </div>
        <div class="patas6">
            <img src="../../assets/images/pata.svg" alt="pata" />
        </div>
        <div class="escolha_cadastro">
            <div class="cadastrar_com">
                <div class="social-icons">
                    <a id="googleSign" class="google-btn" role="button">
                        <img class="google-icon" src="../../assets/images/google.svg" data-src="data:image/svg+xml;utf8,
                            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 533.5 544.3'>
                                <path fill='%23EA4335' d='M533.5 278.4c0-18.5-1.5-36.3-4.4-53.6H272v101.5h146.5c-6.3 34-25.2 62.8-53.8 82l87 67c50.8-46.9 81.8-116 81.8-196z'/>
                                <path fill='%234285F4' d='M272 544.3c72.6 0 133.6-24 178-65.2l-87-67c-24.1 16.2-55 25.8-91 25.8-69.8 0-129-47.1-150.1-110.5l-89.6 69.2C69.9 483 163.1 544.3 272 544.3z'/>
                                <path fill='%23FBBC05' d='M121.9 326.4c-11.6-34.8-11.6-72.5 0-107.3L32.3 149.9c-41.3 81.8-41.3 179.4 0 261.2l89.6-69.2z'/>
                                <path fill='%2327AE60' d='M272 107.7c39.5 0 75 13.6 103 40.3l77.3-77.3C405 24 344 0 272 0 163.1 0 69.9 61.3 32.3 149.9l89.6 69.2C143 154.8 202.2 107.7 272 107.7z'/>
                            </svg>" alt="Google logo" />
                        Cadastrar com Google
                    </a>
                </div>
                <img src="../../assets/images/linha.svg" class="linha" />
            </div>
            <img src="../../assets/images/dog_sentado.svg" />
            <div class="botoes-container">
                <a href="../CadastroUsuario/index.html"><button id="botao_usuario">Cadastrar como usuário</button></a>
                <a href="../CadastroVendedor/index.html"><button id="botao_vendedor">Cadastrar como
                        vendedor</button></a>
            </div>
        </div>
    </div>


    <div class="base">
        <div class="redes_sociais">
            <img src="../../assets/images/instagram.svg" />
            <img src="../../assets/images/email.svg" />
        </div>

        <div class="links_uteis">

            <div>
                <span class="titulo">Adote</span>
                <br>
                <a href=""><span>Seja responsável</span></a>
                <br>
                <a href="../AdocaoAnimal/index.html"><span>Pesquisar por pets</span></a>
            </div>

            <div>
                <span class="titulo">Colabore</span>
                <br>
                <span>Seja uma empresa parceira</span>
            </div>

            <div>
                <span class="titulo">Divulgue um animal</span>
                <br>
                <a href="../CadastroAnimalAdocao/index.html"><span>Cadastrar animal</span></a>
            </div>

            <div>
                <span class="titulo">Sobre o APANIM</span>
                <br>
                <span>APANIM</span>
            </div>

            <div>
                <span class="titulo">Meu perfil</span>
                <br>
                <a href="../CadastroInicial/index.html"><span>Cadastrar-se</span></a>
                <br>
                <a href="../PerfilUsuario/index.html"><span>Minha página de usuário</span></a>
            </div>
        </div>

        <div class="forum">
            <img src="../../assets/images/forum.svg" />
        </div>

        <div class="logo">
            <img src="../../assets/images/APANIM_logo.svg" />
        </div>
    </div>
    </div>

    <script src="google-oauth.js"></script>
</body>

</html>