<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro_inicial APANIM</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>

    <div class="topo">
            <img src="../../assets/images/Paws.svg" class="patas_topo">
            <img src="../../assets/images/APANIM_logo.svg" id="logo_apanim">
            <img src="../../assets/images/cat.svg" class="cat_topo">
            <img src="../../assets/images/dog.svg" class="dog_topo">
        </div>
        
        <nav role="navigation">
            <div id="menu_sanduiche">
                <input type="checkbox">
                <span></span>
                <span></span>
                <span></span>
                <ul id="menu">
                    <a href=""><li>Cadastro</li></a>
                    <a href=""><li>Login</li></a>
                    <a href=""><li>Perfil</li></a>
                    <a href=""><li>Animais para Adoção</li></a>
                    <a href=""><li>Animais para Compra</li></a>
                    <a href=""><li>Animais Perdidos</li></a>
                    <a href=""><li>Serviços</li></a>
                </ul>
            </div>
        </nav>

    <div class="central">
        <div class="cadastrar_com">
            <div class="social-icons">
                <img src="../../assets/images/goglee.svg"/>
                <img src="../../assets/images/facebook.svg"/>
            </div>
            <img src="../../assets/images/linha.svg" class="linha"/>
        </div>

        <div class="escolha_cadastro">
            <img src="../../assets/images/dog_sentado.svg"/>
            <div class="botoes-container">
                <a href="../CadastroUsuario/index.html"><button id="botao_usuario">Cadastrar como usuário</button></a>
                <a href="../CadastroVendedor/index.html"><button id="botao_vendedor">Cadastrar como vendedor</button></a>
            </div>
        </div>

        <div class="base">
            <div class="redes_sociais">
                <img src="../../assets/images/instagram.svg"/>
                <img src="../../assets/images/email.svg"/>
            </div>

            <div class="links_uteis">

                <div>
                    <span class="titulo">Adote</span>
                    <br>
                    <span>Seja responsável</span>
                    <br>
                    <span>Pesquisar por pets</span>
                </div>

                <div>
                    <span class="titulo">Colabore</span>
                    <br>
                    <span>Seja uma empresa parceira</span>
                </div>

                <div>
                    <span class="titulo">Divulgue um animal</span>
                    <br>
                    <span>Cadastrar animal</span>
                </div>

                <div>
                    <span class="titulo">Sobre o APANIM</span>
                    <br>
                    <span>APANIM</span>
                </div>

                <div>
                    <span class="titulo">Meu perfil</span>
                    <br>
                    <span>Cadastrar-se</span>
                    <br>
                    <span>Minha página de usuário</span>
                </div>
            </div>

            <div class="forum">
                <img src="../../assets/images/forum.svg"/>
            </div>

            <div class="logo">
                <img src="../../assets/images/APANIM_logo.svg"/>
            </div>
        </div>
    </div>   
</body>
</html>