*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
}

body{
    margin: 0;
    min-height: 100vh;
    position: relative;
}

/* Barra de Rolagem lateral */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
    background: #5A0609;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #420406;
}