<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro_usuario APANIM</title>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>

    <div class="topo">
        <img src="../../assets/images/Paws.svg" class="patas_topo">
        <img src="../../assets/images/APANIM_logo.svg" id="logo_apanim">
        <img src="../../assets/images/cat.svg" class="cat_topo">
        <img src="../../assets/images/dog.svg" class="dog_topo">
    </div>

    <nav role="navigation">
        <div id="menu_sanduiche">
            <input type="checkbox">
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <a href="../Menu/index.html"><li>Menu</li></a>
                <a href="../CadastroInicial/index.html"><li>Cadastro</li></a>
                <a href="../CadastroUsuario/index.html"><li>Login</li></a>
                <a href="../PerfilUsuario/index.html"><li>Perfil</li></a>
                <a href="../AdocaoAnimal/index.html"><li>Animais para Adoção</li></a>
                <a href="../VendaAnimal/index.html"><li>Animais para Compra</li></a>
                <a href="../AnimaisPerdidos/index.html"><li>Animais Perdidos</li></a>
                <a href="../CadastroAnimalAdocao/index.html"><li>Cadastro Animal para Adoção</li></a>
                <a href="../CadastroAnimalVenda/index.html"><li>Cadastro Animal para Venda</li></a>
                <a href="../CadastroAnimaisPerdidos/index.html"><li>Cadastro Animal para Perdido</li></a>
                <a href="../PlanosAssinatura/index.html"><li>Serviços</li></a>
            </ul>
        </div>
    </nav>

    <div class="central">
        <div class="patas1">
            <img src="../../assets/images/pata.svg" alt="pata" />
        </div>
        <div class="patas2">
            <img src="../../assets/images/pata.svg" alt="pata" />
        </div>
        <div class="patas3">
            <img src="../../assets/images/pata.svg" alt="pata" />
        </div>
        <div class="patas4">
            <img src="../../assets/images/pata.svg" alt="pata" />
        </div>
        <div class="patas5">
            <img src="../../assets/images/pata.svg" alt="pata" />
        </div>
        <div class="patas6">
            <img src="../../assets/images/pata.svg" alt="pata" />
        </div>

        <div class="container">
            <h2>Criar conta</h2>
            <label for="exampleDropdownFormEmail1" class="form-label"></label>
            <input type="text" class="form-control" id="exampleDropdownFormEmail1" placeholder="Nome completo :">

            <label for="exampleDropdownFormEmail1" class="form-label"></label>
            <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">

            <label for="exampleDropdownFormEmail1" class="form-label"></label>
            <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="Senha :">

            <label for="exampleDropdownFormEmail1" class="form-label"></label>
            <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="Comfirmar senha :">

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                <label class="form-check-label" for="dropdownCheck">Lembrar-me</label>
            </div>

            <div class="dropdown-divider">
                <a class="dropdown-item" href="../CadastroUsuario/index.html">Novo por aqui? se cadastre!</a>
                <a class="dropdown-item" href="#">Esqueceu a senha?</a>
            </div>

            <a href="../PerfilUsuario/index.html"><button class="botao_cadastrar">Cadastrar-se</button></a>
            <img src="../../assets/images/dog_sentado.svg" />
        </div>
        
        <div class="base">
            <div class="redes_sociais">
                <img src="../../assets/images/instagram.svg" />
                <img src="../../assets/images/email.svg" />
            </div>

            <div class="links_uteis">
                <div>
                    <span class="titulo">Adote</span>
                    <br>
                    <a href=""><span>Seja responsável</span></a>
                    <br>
                    <a href="../AdocaoAnimal/index.html"><span>Pesquisar por pets</span></a>
                </div>

                <div>
                    <span class="titulo">Colabore</span>
                    <br>
                    <span>Seja uma empresa parceira</span>
                </div>

                <div>
                    <span class="titulo">Divulgue um animal</span>
                    <br>
                    <a href="../CadastroAnimalAdocao/index.html"><span>Cadastrar animal</span></a>
                </div>

                <div>
                    <span class="titulo">Sobre o APANIM</span>
                    <br>
                    <span>APANIM</span>
                </div>

                <div>
                    <span class="titulo">Meu perfil</span>
                    <br>
                    <a href="../CadastroInicial/index.html"><span>Cadastrar-se</span></a>
                    <br>
                    <a href="../PerfilUsuario/index.html"><span>Minha página de usuário</span></a>
                </div>
            </div>

            <div class="forum">
                <img src="../../assets/images/forum.svg" />
            </div>

            <div class="logo">
                <img src="../../assets/images/APANIM_logo.svg" />
            </div>
        </div>
    </div>
</body>

</html>