<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro_usuario APANIM</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="central">
        <h2>Criar conta</h2>

        <div class="container">
            <input type="text" placeholder="Nome completo"/>
            <input type="text" placeholder="E-mail"/>
            <input type="text" placeholder="Senha"/>
            <input type="text" placeholder="Confirmar senha"/>
            <button class="botao_cadastrar">Cadastrar-se</button>

            <div class="cadastrar_com">
                <img src="../../assets/images/dog_sentado.svg"/>
                <img src="../../assets/images/goglee.svg"/>
                <img src="../../assets/images/facebook.svg"/>
                <img src="../../assets/images/apple.svg"/>
                <img src="../../assets/images/linha.svg"/>
            </div>
        </div>

        <div class="base">
            <div class="redes_sociais">
                <img src="../../assets/images/instagram.svg"/>
                <img src="../../assets/images/email.svg"/>
            </div>

            <div>
                <span>Adote</span>
                <span>Seja responsável</span>
                <span>Pesquisar por pets</span>
            </div>

            <div>
                <span>Colabore</span>
                <span>Seja uma empresa parceira</span>
            </div>

            <div>
                <span>Divulgue um animal</span>
                <span>Cadastrar animal</span>
            </div>

            <div>
                <span>Sobre o APANIM</span>
                <span>APANIM</span>
            </div>

            <div>
                <span>Meu perfil</span>
                <span>Cadastrar-se</span>
                <span>Minha página de usuário</span>
            </div>

            <div class="forum">
                <img src="../../assets/images/forum.svg"/>
            </div>

            <div class="logo">
                <img src="../../assets/images/APANIM_logo.svg"/>
            </div>
        </div>
    </div>   
</body>
</html>