<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil_usuário APANIM</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="central">

        <div class="perfil_usuario">
            <h2>Meu perfil</h2>
            <img src="../../assets/images/perfil.svg"/>
        </div>

        <div class="informacoes_usuario">
            <span id="nome">Nome: </span>
            <input type="text" placeholder="Idade: "/>
            <input type="text" placeholder="Sexo: "/>
            <input type="text" placeholder="CPF: "/>
        </div>

        <div class="contatos">
            <input type="text" placeholder="Telefone: "/>
            <input type="text" placeholder="Telefone 2: "/>
        </div>

        <div class="local">
            <input type="text" placeholder="Bairro: "/>
            <input type="text" placeholder="CEP: "/>
        </div>

        <div class="sobre_voce">
            <span>Sobre você:</span>
            <textarea placeholder="Escreva um pouco sobre você..."></textarea>
            <!-- <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores totam, rerum eum, neque error non excepturi, nihil est accusantium molestiae mollitia? Voluptatibus vitae incidunt voluptas saepe quod dolor alias possimus!</span> -->
            <button class="botao_editar">Salvar</button>
        </div>

        <div class="pins">
            <img src="../../assets/images/dogs.svg"/>
        </div>

        <div class="checkbox">
            <input type="checkbox"/>
            <span>Deseja colaborar com o nosso site.</span>
            <input type="checkbox"/> 
            <span>Aceito os termos e condições.</span>
        </div>

        <div class="planos">
            <h3>Nossos planos</h3>
            <img src="../../assets/images/gato.svg"/>
            <span>Escolha um plano para ter acesso a mais funcionalidades.</span>
            <button class="botao_plano">Plano gratuito</button>
            <button class="botao_plano">Plano premium</button>
            <button class="botao_plano">Plano empresarial</button>
        </div>

        <div class="base">
            <div class="redes_sociais">
                <img src="../../assets/images/instagram.svg"/>
                <img src="../../assets/images/email.svg"/>
            </div>

            <div>
                <span>Adote</span>
                <span>Seja responsável</span>
                <span>Pesquisar por pets</span>
            </div>

            <div>
                <span>Colabore</span>
                <span>Seja uma empresa parceira</span>
            </div>

            <div>
                <span>Divulgue um animal</span>
                <span>Cadastrar animal</span>
            </div>

            <div>
                <span>Sobre o APANIM</span>
                <span>APANIM</span>
            </div>

            <div>
                <span>Meu perfil</span>
                <span>Cadastrar-se</span>
                <span>Minha página de usuário</span>
            </div>

            <div class="forum">
                <img src="../../assets/images/forum.svg"/>
            </div>

            <div class="logo">
                <img src="../../assets/images/APANIM_logo.svg"/>
            </div>
        </div>
    </div>   
</body>
</html>