<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APANIM</title>
    <link rel="stylesheet" href="/APANIM-front-end/components/Menu/styles.css">
</head>
<body>
    <div class="central">

        <div class="topo">
            <img src="/APANIM-front-end/assets/images/APANIM_logo_sem_fundo.png" id="logo_apanim">
        </div>
        
        <nav role="navigation">
            <div id="menu_sanduiche">
                <input type="checkbox">
                <span></span>
                <span></span>
                <span></span>
                <ul id="menu">
                    <a href=""><li>Cadastro</li></a>
                    <a href=""><li>Login</li></a>
                    <a href=""><li>Perfil</li></a>
                    <a href=""><li>Animais para Adoção</li></a>
                    <a href=""><li>Animais para Compra</li></a>
                    <a href=""><li>Animais Perdidos</li></a>
                    <a href=""><li>Serviços</li></a>
                </ul>
            </div>
        </nav>

        <div class="botoes-principais" >
            <button id="quero_comprar">Quero Comprar um Animal</button>
            <button id="quero_adotar">Quero Adotar um Animal</button>
            <button id="divulgar_animal_perdido">Divulgação de Animais Perdidos</button>
            <button id="servicos">Serviços</button>
        </div>

    </div>
    
</body>
</html>
